/* CSS Document */
@charset "utf-8";
/* 整體結構
---------------------------------------------------- */
body {
	background: #fff;
	padding:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif,"新細明體";
	margin:0;
	border:none;
}
a {
	text-decoration:none;
	color:#626262;
	border:none;
    }
a:hover {
    color:#000000;
	text-decoration:none;
    }
a img {
	border:0;
	}
.wrapper {
	width:1124px;
	margin:auto;
	background-image:url(../img/bg.gif);
	background-repeat: repeat;	
	/*border:0px 1px 1px 1px solid #E8E8E8;	*/
	}
.path_a02{
	margin:8px 0 3px 30px;
	font-weight: normal;
	color:#2A2A2A;
	font-size: 11px;
	}
/* content 
---------------------------------------------------- */
.copyright {
	font-family: Arial,新細明體;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 17px;
}
.content {
	font-family: Arial,新細明體;
	font-size: 12px;
	color: #000000;
	line-height: 15px;
}
.enter_wb {
	font-family: Arial,新細明體;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0.1em;
	font-weight: bolder;
}
.login {
	font-family: Arial,新細明體;
	font-size: 11px;
	color: #000000;
	line-height: 16px;
}
.login_b {
	font-family: Arial,新細明體;
	font-size: 11px;
	color: #000000;
	font-weight: bolder;
	line-height: 16px;
}
.back_w A{
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.back_w A:hover{
	font-size: 12px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration: underline;	
}
.red_w A{
	font-size: 12px;
	font-weight:bold;
	color: #800000;
	text-decoration: underline;
}
.red_w A:hover{
	font-size: 12px;
	font-weight:bold;
	color:#800000;
	text-decoration: underline;	
}
.b_w A{
	font-size: 12px;
	font-weight:bold;
	color: #000000;
	text-decoration: underline;
}
.b_w A:hover{
	font-size: 11px;
	font-weight:bold;
	color:#000000;
	text-decoration: underline;	
}
.content_red_b {
	font-family: Arial, 新細明體;
	font-size: 16px;
	color: #800000;
	line-height: 16px;
	font-weight: bolder;
}
.content_red {
	font-family: Arial, "新細明體";
	font-size: 12px;
	color: #800000;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;	
}
.content_red A {
	font-family: Arial,新細明體;
	font-size: 12px;
	color: #FF0000;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;	
}
.content_red A:hover {
	font-family: Arial,新細明體;
	font-size: 12px;
	color: #800000;
	line-height: 17px;
	text-decoration: none;
	font-weight: bold;	
}
.content_gray {
	font-family: Arial, 新細明體;
	font-size: 11px;
	color: #3A3A3A;
	line-height: 17px;
	text-decoration: none;
	height: 30px;
}
.content_gray A {
	font-family: Arial,新細明體;
	font-size: 11px;
	color: #3A3A3A;
	line-height: 17px;
	text-decoration: none;
}
.content_gray A:hover {
	font-family: Arial,新細明體;
	font-size: 11px;
	color: #800000;
	line-height: 17px;
	text-decoration: none;
}

.event_red {
	font-family: Arial,Helvetica, sans-serif;
	font-size: 12px;
	color: #800000;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.event_red A{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.event_red A:hover {
	font-family: Arial,Helvetica, sans-serif;
	font-size: 12px;
	color: #800000;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.event_gray {
	font-family: Arial,Helvetica, sans-serif;
	font-size: 12px;
	color: #363636;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.event_gray A{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #363636;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.event_red_b {
	font-family: Arial,Helvetica, sans-serif;
	font-size: 12px;
	color:#FF0000;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.event_gray A:hover {
	font-family: Arial,Helvetica, sans-serif;
	font-size: 12px;
	color: #800000;
	letter-spacing: 0.1em;
	font-weight: bolder;
	text-decoration: none;
}
.point_red {
	font-family: Arial, 新細明體;
	font-size: 12px;
	color: #DB0303;
	line-height: 16px;
}
.no_red {
	font-family: Arial, 新細明體;
	font-size: 10px;
	color: #DB0303;
	line-height: 16px;
}
.footer_copyright {
	color:#000000;
	font-size:11px;
}
.form_fix {
	margin-left:5px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif,"新細明體";
}
.content_list {
	font-family: Arial,新細明體;
	font-size: 12px;
	color: #000000;
	line-height: 15px;
	margin:3px;
}
.form_title {
	font-family: Arial, 新細明體;
	font-size: 12px;
	color: #3A3A3A;
	line-height: 17px;
	text-decoration: none;
	margin-left:5px;
	margin-top:5px;
}
.menu_content {
	margin-left:5px;
	color:#3399FF;
}
a.class02 {
	color:#888888;
	text-decoration:none;
}
a:hover.class02 {
	color:#4D4D4D;
}
a.path02 {
	color:#000;
	text-decoration:none;
}
a:hover.path02 {
	color:#0033FF;
	text-decoration:underline;
}
.inquire {
	font-family: Arial,新細明體;
	font-size: 12px;
	color: #000000;
	font-weight: bolder;
	line-height: 16px;
}
/* nav
-------------------------------------------------------*/
.arrowlistmenu{
	width: 160px; /*width of menu*/
	float: left;
	margin-top:.9px;
}
* html .arrowlistmenu{ /* for ie6 or below*/
	width: 160px; /*width of menu*/
	float: left;
	margin-top:1px;
}
.headerbar{
	font: bold 12px Arial;
    cursor:pointer;
	color: white;
	background: black url(../images/titlebar.png) repeat-x center left;
	margin-bottom: 1px; /*bottom spacing between header and rest of content*/
	padding: 2px 0 2px 10px; /*header text is indented 10px*/
	height: 21px;
	padding-top: 3px;
}

.headerbar a{
font: bold 12px Arial;
cursor:pointer;
color: #FFFFFF;
display: block;
background: black url(../images/titlebar.png) repeat-x center left;
margin-bottom: 0px; /*bottom spacing between header and rest of content*/
margin-top: 8px;
text-decoration: none;
}

.headerbar a:hover{
   cursor:pointer;
	font: bold 12px Arial;
	color: #FFFFFF;
	background: black url(../images/titlebar.png) repeat-x center left;
	margin-bottom: 0px; /*bottom spacing between header and rest of content*/
	text-decoration: none;
}

.arrowlistmenu ul{
list-style-type: none;
margin: 0;
padding-left: 0px; /*submenu+arrow 往左移動*/
margin-bottom: 0px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 1px; /*bottom spacing between menu items*/
margin-left:5px;
}

.arrowlistmenu ul li a{
	color: #000000;
	background: url(../images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
	display: block;
	padding: 5px 0;
	padding-left: 19px; /*link text is indented 19px*/
	text-decoration: none;
	border-bottom: 1px solid #dadada;
	font-size:12px;
}
.arrowlistmenu ul li a:hover{ /*hover state CSS*/
	color: #0066CC;
	background-color: #f3f3f3;
}
