﻿body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
color: #0000FF !important;
font-size: 13px;
text-decoration: none;
}
a:hover {
font-size: 13px;
text-decoration: underline;
}
a:link {
color: #0000FF;
font-size: 13px;
text-decoration: none;  
}
.tab-frame {
	width: 98%;
	border: 0px none;
	margin: 0px;
	padding: 0px;
    border-collapse: separate;
}
.tab-path {
	width: 100%;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	float: none;
    border-collapse: collapse;
    table-layout: auto;
    border-spacing: 0;
    font-size: 13px;
    color: #000099
}
.tab-content {
  width:70%;
  border-collapse: separate;
  color: #333333;
  background: #B5D771;
  padding: 1px;
  border: 0px;
}
.tab-content-nowidth {
	border-collapse: separate;
	color: #333333;
  background: #B5D771;
  padding: 1px;
    border: 0px;
}
.tab-content-in {
  width:100%;
  border-collapse: separate;
  color: #333333;
  background: #B5D771;
  padding: 1px;
  border: 0px;
}
.tab-content-in tr{
	background: #FFFFFF;
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.tab-content-in-nowidth {
  border-collapse: separate;
  color: #333333;
  background: #B5D771;
  padding: 1px;
  border: 0px;
}
.tab-content-in-nowidth tr{
	background: #FFFFFF;
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.data-contfont {
	font-size: 13px;
	color: #303030;
	text-align: right;
}
.data-contfont2 {
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.data-contfont2noalign td{
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding-left: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.data-contfont2-title {
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 30px;
}
.data-contfont2-titlenoalign td {
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 20px;
	height: 30px;
}
.data-contfont3 {
	font-size: 11px;
	color: #333333;
	margin: 2px;
	padding: 2px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
                   text-align: center
}
.data-contfont4 {
	font-size: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.data-item {
	font-size: 15px;
	font-weight: 300;
	color: #000099;
	text-align: left;
}
.data-title {
	font-size: 16px;
	color: #666666;
	margin: 0px;
	padding: 0px;
	height: 30px;
	width: 98%;
	border: 0px none;
}
.data-title tr{
	background: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.data-name {
	font-size: 16px;
	color: #000000;
	border: 2px solid #FFFFFF;
	text-align: center;
  line-height: 30px;
  letter-spacing: 10px;
}
.data-name-Multi {
	font-size: 16px;
	color: #000000;
	border: 2px solid #FFFFFF;
	text-align: center;
  line-height: 30px;
}
.data-button {
	width:300px;
	text-align: center;
	line-height: 20px;
	border-collapse: separate;
	height: 35px;
	margin: 0px;
	padding: 0px;
}
.input {
	font-size: 12px;
	color: #663333;
  border: 1px solid #B5B5B5;
  background: #DFDFDF;
  padding-top: 3px;
  letter-spacing: 6px;
}
.inputUpload {
	font-size: 12px;
	color: #663333;
  border: 1px solid #B5B5B5;
  background: #DFDFDF;
  padding-top: 3px;
}
.textarea {
	font-size: 13px;
	color: #404040;
  border: 1px solid #D0D0D0;
  padding: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif
}
.tab-d1 {
  background: #B0592F;
  height: 25px;
}
.tab-d2 {
  background: #DCA58B;
  height: 25px;
}
.tab-d3 {
  background: #EFD4C7;
  height: 25px;
}
.tr {
  background: #FFFFFF;
}
.tab-content-nowidth TABLE
{
	border: 0px;
	
}

/* enjay 自訂 */
div {
	font-size: 13px;
}

textarea {
	font-size: 13px;
	color: #404040;
  border: 1px solid #D0D0D0;
  padding: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif
}
.data-contfont-left {
	font-size: 13px;
	color: #303030;
}
.data-contfont-td {
	font-size: 12px;
	color: #333333;
	margin: 2px;
	padding: 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background: #e9e9bc;
	color: #993300;
}

.cs1 {
	color: White !important;
	font-weight: normal;
	background: #8080FF !important;
	font-size: 18px !important;
}
.cs1 a
{
	color: White !important;
}
.cs1 tr
{
	color: White !important;
	font-weight: bold;
	background: #8080FF !important;
}

.function-note-content {
	font-size: 14px;
	color: #000000;
	border: 2px solid #FFFFFF;
	text-align: center;
  line-height: 30px;
}
/*====================

div.maindiv table.maintable {
	width: 98%;
	border-collapse: separate;
	color: #333333;
  	background: #D8D8D8;
  	padding: 10px;
}
div.maindiv table.maintable tr	{
	background: #ffffff;
}
div.maindiv table.maintable td	{
	font-size: 13px;
	color: #303030;
	text-align: right;
}
div.maindiv table.maintable td p {
	text-align: left;

}

div.maindiv td div {
	text-align: left;	
	vertical-align:middle;
}*/
