*{margin:0;padding:0;}
body{padding-top:30px;font-family:sans-serif;font-size:12px;}
form{margin-left:8px;padding:26px 24px 46px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#fff;border:1px solid #e5e5e5;-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;-khtml-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;}form .forgetmenot{font-weight:normal;float:left;margin-bottom:0;}.button-primary{font-family:sans-serif;padding:3px 10px;border:none;font-size:13px;border-width:1px;border-style:solid;-moz-border-radius:11px;-khtml-border-radius:11px;-webkit-border-radius:11px;border-radius:11px;cursor:pointer;text-decoration:none;margin-top:-3px;}#login form p{margin-bottom:0;}label{color:#777;font-size:14px;}form .forgetmenot label{font-size:12px;line-height:19px;}form .submit,.alignright{float:right;}form p{margin-bottom:24px;}
h1 a{background:url('../images/logo-login.png') no-repeat top center;width:600px;height:178px;text-indent:-9999px;overflow:hidden;padding-bottom:15px;display:block;}
#login{width:600px;margin:7em auto;}
#login_error,.message{margin:0 0 16px 8px;border-width:1px;border-style:solid;padding:12px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}#nav,#backtoblog{text-shadow:rgba(255,255,255,1) 0 1px 0;margin:0 0 0 16px;padding:16px 16px 0;}#backtoblog{padding:12px 16px 0;}body form .input{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;font-weight:200;font-size:24px;width:97%;padding:3px;margin-top:2px;margin-right:6px;margin-bottom:16px;border:1px solid #e5e5e5;background:#fbfbfb;outline:none;-moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);-webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);}input{color:#555;}.clear{clear:both;}#pass-strength-result{font-weight:bold;border-style:solid;border-width:1px;margin:12px 0 6px;padding:6px 5px;text-align:center;}

html {
	background: #ffffff !important;
}

#login_error, .message {
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	border-top: 0 none;
	margin-left: 0;
	position: absolute;
	top: 0;
	width: 294px;
}
form {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-left: 0;
	-moz-box-shadow: 0 2px 10px 0 #111;
	-webkit-box-shadow: 0 2px 10px 0 #111;
	box-shadow: 0 2px 10px 0 #111;
	background: -moz-linear-gradient(top,#FFF,#DDD);
	background: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DDD));
	border-color: #FFF;
}
body form label {
	text-shadow:0 1px 0 #FFF;
}
body form .input {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-color:#CCC;
}
body form .input:hover {
	border-color: #9BF;
}
body form .input:focus {
	border-color: #06C;
	-moz-box-shadow: 0 0 6px rgba(0,100,200,0.25);
	-webkit-box-shadow: 0 0 6px rgba(0,100,200,0.25);
	box-shadow: 0 0 6px rgba(0,100,200,0.25);
}
#nav, #backtoblog {
	margin: 0;
	text-shadow: none;
	text-align: center;
	font-weight: bold;
}
.login #nav a, .login #backtoblog a {
	color: #464646 !important;
}
#login:hover #nav a, #login:hover #backtoblog a {
	color: #999 !important;
}
.login #nav a:hover, .login #backtoblog a:hover {
	color: #FFF !important;
}
.button-primary {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}